{% include "head.html" ignore missing %}

<section class="section">
    <div class="container">
		<article class="message is-primary">
			<div class="message-header">
				<p>Budget notification</p>
				<button class="delete" aria-label="delete" onclick="location.href='/'"></button>
			</div>
			<div class="message-body">
			<div class="block">Your budget setting has been saved.</div>
			<div class="block">You will be notified when your expenses reach 80% and 100% of your budget.</div>
				<button class="button" onclick="location.href='/'">Back</button>
			</div>
		</article>
    </div>
</section>

{% include "tail.html" ignore missing %}