{% include "head.html" ignore missing %}

<script>
$(function() {

});
</script>

<style>

.date {
	font-weight: bold;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.party {
	font-weight: bold;
	margin-bottom: 5px;
}

.amount {
	text-align: right !important;
	font-weight: bold;
}

.refid {
	text-align: right !important;
	color: darkgray;
	margin-top: 4px;
}

.green {
	color: darkgreen;
}

.red {
	color: darkred;
}

</style>

<section class="section">
    <div class="container">
		<h1 class="title">Payment history</h1>
		

        <div class="block balance">
			<div class="balance_block">
				<div class="balance_head">Balance:</div>
				<div class="balance_body"><span class="balance_amount">{{balance}}</span><span class="balance_currency">HKD</span></div>
			</div>
        </div>
		
		<div class="box">
			<table class="table is-fullwidth">
			  <tbody>
				{% for record in records %}
				<tr>
					<td colspan=2 class="date is-primary">{{record.date}}</td>
				</tr>
				{% for transaction in record.transactions %}
				<tr>
					<td>
						<div class="party">{{transaction.party}}</div>
						<div class="category">{{transaction.category}}</div>
					</td>
					<td>
						<div class="amount {{transaction.style}}">{{transaction.amount}}</div>
						<div class="refid">{{transaction.refid}}</div>
					</td>
				</tr>
				{% endfor %}
				{% endfor %}
			  </tbody>
			</table>
		</div>
    </div>
</section>

{% include "tail.html" ignore missing %}