{% include "head.html" ignore missing %}

{% if login %}

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
			<div class="balance">
				<div class="balance_head">My balance:</div>
				<div class="balance_body"><span class="balance_amount">{{balance}}</span><span class="balance_currency">HKD</span></div>
			</div>
        </div>
    </div>
</section>

{% else %}
<section class="section">
    <div class="container">
		<div class="block" style="text-align: center" id="frontpage">
			<img src="/img/p2p.png" style="width: 100px; height: 100px; border-radius: 50%; border: 10px solid rgba(255,255,255,0.2);">
		
			<h1 class="title">
				Connecting people
			</h1>
			<p class="subtitle">
				HK's No.1 P2P Payment App!
			</p>
		</div>
    </div>
</section>

{% endif %}

{% include "tail.html" ignore missing %}