{% include "head.html" ignore missing %}

<script>
$(function() {

});

</script>


<section class="section">
    <div class="container">

		<form class="box" id="form">
		  <div class="field">
			<label class="label">Payee</label>
			<div class="control">
				<input class="input" type="email" placeholder="e.g. alex@example.com">
			</div>
		  </div>

		  <div class="field">
			<label class="label">Amount</label>
			<div class="control">
				<input class="input" type="email" placeholder="e.g. alex@example.com">
			</div>
		  </div>

		  <div class="field">
			<label class="label">Payment category</label>
			<div class="control">
				
				<div class = "field">
					<div class = "control">
						<div class = "select is-primary">
							<select>
								<option>Uncategorized</option>
								<option>Meals</option>
								<option>Transport</option>
								<option>Transport</option>
								<option>Clothing</option>
								<option>Clothing</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		  </div>

		  <button class="button is-primary">Send payment</button>
		</form>

    </div>
</section>

{% include "tail.html" ignore missing %}