{% include "head.html" ignore missing %}

<style>
.ui-helper-hidden-accessible { position: absolute; left:-999em; }

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > div {
    display: block;
	padding: 5px 15px !important;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #00b890;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.status {
	color: #eb623f;
	padding-top: 5px;
}
</style>

<script>
$(function() {
	var balance = {{balance}};
	var valid_user = false;
	var valid_amount = false;
	
	// check username
	$("#payee").keyup(function (){
		user = $("#payee").val();
		if (user.length > 3) {
			$.ajax({
				type: "POST",
				url: "/check_user",
				data: { s: user},
				success: function(data) {
					if (data.is_valid) {
						$("#payee-status").slideUp("fast");
						valid_user = true;
					}
					else {
						$("#payee-status").slideDown("fast");
						valid_user = false;
					}
					validate();
				},
				dataType: "json"
			});
		}
		else {
			$("#payee-status").slideDown("fast");
			valid_user = false;
			validate();
		}
	});
	
	// check amount
	$("#amount").keyup(function (){
		amount = $("#amount").val()
		let re = /^\d+(\.\d{0,2})?$/;
		if (!re.test(amount)) {
			$("#amount-status .text").text("Invalid amount");
			$("#amount-status").slideDown("fast");
			valid_amount = false;
		}
		else if (amount > balance) {
			$("#amount-status .text").text("Insufficient balance");
			$("#amount-status").slideDown("fast");
			valid_amount = false;
		}
		else {
			$("#amount-status").slideUp("fast");
			valid_amount = true;
		}
		validate();
	});
	
	$("#submit").click(function() {
		$("#form").submit();
	});
	
	function validate() {
		if (valid_user && valid_amount) {
			$('#submit').prop('disabled', false);
		}
		else {
			$('#submit').prop('disabled', true);
		}
	}
	
	
});
</script>


<section class="section">
    <div class="container">

		<h1 class="title">Send payment</h1>
		<form class="box" id="form" action="/pay_submit" method="post">
		  <div class="field">
			<label class="label">Payee username</label>
			<div class="control">
				<input class="input is-primary" type="input" name="payee" id="payee" pattern="[A-Za-z0-9\-\_]+" autocomplete="off" title="Only letters and numbers are allowed.">
				<div class="status" id="payee-status" style="display: none">
					<span class="icon-text has-text-danger">
						<span class="icon">
							<i class="fas fa-exclamation-triangle"></i>
						</span>
						<span class="text">Invalid username</span>
					</span>
				</div>
			</div>
		  </div>

		  <div class="field">
			<label class="label">Amount</label>
			<div class="control">
				<input class="input is-primary" type="number" name="amount" id="amount" step="0.01" min="0" max="99999" autocomplete="off">
				<div class="status" id="amount-status" style="display: none">
					<span class="icon-text has-text-danger">
						<span class="icon">
							<i class="fas fa-exclamation-triangle"></i>
						</span>
						<span class="text">Invalid amount</span>
					</span>
				</div>
			</div>
		  </div>

		  <div class="field">
			<label class="label">Payment category</label>
			<div class="control">
				
				<div class = "field">
					<div class = "control">
						<div class = "select is-primary">
							<select name="category" id="category">
								{% for category in categories %}
								<option value="{{category.id}}">{{category.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
		  </div>

		  <button class="button is-primary" id="submit" disabled >Send payment</button>
		</form>

    </div>
</section>

{% include "tail.html" ignore missing %}