{% include "head.html" ignore missing %}

<section class="section">
    <div class="container">
		<article class="message is-danger">
			<div class="message-header">
				<p>Send payment</p>
				<button class="delete" aria-label="delete" onclick="location.href='/'"></button>
			</div>
			<div class="message-body">
			<div class="block">The payment has been made successfully.</div>
			<div class="block">Ref. No.: {{refid}}</div>
				<button class="button" onclick="location.href='/'">Back</button>
			</div>
		</article>
    </div>
</section>

{% include "tail.html" ignore missing %}