{% include "head.html" ignore missing %}

<style>

.date {
	font-weight: bold;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.party {
	font-weight: bold;
	margin-bottom: 5px;
}

.amount {
	text-align: right !important;
	font-weight: bold;
}

.status {
	text-align: right !important;
	margin-top: 4px;
}

.green {
	color: darkgreen;
}

.red {
	color: darkred;
}

</style>

<script>
	$(function() {
		$(".delete").click(function() {
			$("#id").val($(this).data("id"));
			$("#form").submit();
		});
	});
</script>

<form action="/schedule_delete" method="post" id="form">
	<section class="section">
		<div class="container">
			<h1 class="title">Scheduled payments</h1>
		
			{% if records %}
			<div class="box">
				<table class="table is-fullwidth">
					<tbody>
						{% for record in records %}
						<tr>
							<td colspan=2 class="date is-primary">{{record.date}}</td>
						</tr>
						{% for transaction in record.transactions %}
						<tr>
							<td>
								<div class="party">{{transaction.party}}</div>
								<div class="category">{{transaction.category}}</div>
							</td>
							<td>
								<div class="amount">{{transaction.amount}}</div>
								<div class="status">
									{% if transaction.status == "scheduled" %}
										<button class="delete is-medium" data-id="{{transaction.id}}"></button>
										<span class="tag is-info">Scheduled</span> 
									{% elif transaction.status == "complete" %}
										<span class="tag is-success">Complete</span>
									{% elif transaction.status == "nofund" %}
										<span class="tag is-danger">Insufficient fund</span>
									{% elif transaction.status == "failed" %}
										<span class="tag is-danger">Failed</span>
									{% endif %}
								</div>
							</td>
						</tr>
						{% endfor %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="box">
				You do not have any scheduled payment.
			</div>
			{% endif %}
		</div>
	</section>

	<input type="hidden" name="id" id="id">
</form>




{% include "tail.html" ignore missing %}