{% include "head.html" ignore missing %}

<script>
$(function() {

});
</script>


<section class="section">
    <div class="container">

		<form class="box" id="form">
		  <div class="field">
			<label class="label">Payee</label>
			<div class="control">
				<input class="input" type="payee">
			</div>
		  </div>

		  <div class="field">
			<label class="label">Amount</label>
			<div class="control">
				<input class="input" type="amount">
			</div>
		  </div>

		  <div class="field">
			<label class="label">Payment category</label>
			<div class="control">
				
				<div class = "field">
					<div class = "control">
						<div class = "select is-primary">
							<select>
								{% for category in categories %}
								<option value="{{category.id}}">{{category.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
		  </div>


		  <div class="field">
			<label class="label">Scheduled date</label>
			<div class="control">
				<input type="date" id="my-element" data-display-mode="default">
				<script>
				// Initialize all input of type date
				var calendars = bulmaCalendar.attach('[type="date"]');

				// Loop on each calendar initialized
				for(var i = 0; i < calendars.length; i++) {
					// Add listener to select event
					calendars[i].on('select', date => {
						console.log(date);
					});
				}

				// To access to bulmaCalendar instance of an element
				var element = document.querySelector('#my-element');
				if (element) {
					// bulmaCalendar instance is available as element.bulmaCalendar
					element.bulmaCalendar.on('select', function(datepicker) {
						console.log(datepicker.data.value());
					});
				}
				</script>
			</div>
		  </div>
		  
		  <button class="button is-primary">Send payment</button>
		</form>

    </div>
</section>

{% include "tail.html" ignore missing %}