html {
	height: 100%;
}

body {
	height: 100%;
	background: rgb(0,184,144);
	background: linear-gradient(179deg, rgba(0,184,144,1) 50%, rgba(0,140,127,1) 100%);
}

.title, .subtitle {
	color: #fff;
}

H1 {
	color: #fff;
}
p {
	color: #fff;
}
#narbar-logo {
	
	background-image: url("/img/logo.png");
	background-repeat: no-repeat;
	background-size: 40px 40px;
	background-position: 10px center;
	padding-left: 60px;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #00b890;
	font-variant: small-caps;
}

.balance {
	width: 200px;
	margin: 0 auto;
}

.balance_head, .balance_body, .balance_amount, .balance_currency {
	color: #fff;
}

.balance_head {
	display: block;
	font-size: 1em;
}


.balance_body {
	display: block;
}


.balance_amount {
	font-size: 2.4em;
	line-height: 0.8em;
	font-weight: bold;
}

.balance_currency {
	font-size: 1em;
}

